body
{
    font-family:  'Ubuntu', sans-serif;
}
.caro
{
    border: 1px solid green ;
    margin-bottom: 350px;
}
.font h1{
    text-align: center;
    margin-top: 10%;
    font-size: 100px; 
}

.mb-0{
    text-align: center;
}

